{ERREUR}
<form action="" method="POST" name="inscription">
  <div>
    <label for="email"></label>
    <input type="email" name="email" id="email" placeholder="Email">
  </div>
  <div>
    <label for="password"></label>
    <input type="password" name="password" id="password" placeholder="mot de passe">
  </div>
  <div>
    <label for="password2"></label>
    <input type="password" name="password2" id="password2" placeholder="Confirmer mot de passe">
  </div>
  <button type="submit">inscription</button>
</form>